*{
    margin: 0;
    padding: 0;
}

#cabecalho{
    background: #6D5143;
    width: 100%;
    height: 120px;
}

#logo{
    float: left;
    width: 500px;
    height: 120px;
    margin-left: 50px;
    margin-bottom: 0.25px;
    background-image: url(imagens/logo-britestop.png);
    background-size: 500px 240px ;
    background-position: bottom center;
    overflow: hidden;
}

#logo img{
    width: 500px;
    height: 240px;
    transition: 0.35s ease;
}

#logo img:hover{
    opacity: 0%;
}

#nav{
    float: right;
    margin-top: 22.5px;
    display: flex;
}

#lingua{
    width: 75px;
    height: 75px;
    background-image: url(imagens/lingua.png);
    background-size: 75px 150px;
    background-position: bottom center;
    overflow: hidden;
}

#lingua img{
    width: 75px;
    height: 150px;
    transition: 0.35s ease;
}

#lingua img:hover{
    opacity: 0%;
}

#mail{
    width: 75px;
    height: 75px;
    background-image: url(imagens/mail.png);
    background-size: 75px 150px;
    background-position: bottom center;
    overflow: hidden;
}

#mail img{
    width: 75px;
    height: 150px;
    transition: 0.35s ease;
}

#mail img:hover{
    opacity: 0%;
}

#user{
    width: 75px;
    height: 75px;
    background-image: url(imagens/user.png);
    background-size: 75px 150px;
    background-position: bottom center;
    overflow: hidden;
}

#user img{
    width: 75px;
    height: 150px;
    transition: 0.35s ease;
}

#user img:hover{
    opacity: 0%;
}

#sobre{
    width: 75px;
    height: 75px;
    background-image: url(imagens/sobre.png);
    background-size: 75px 150px;
    background-position: bottom center;
    overflow: hidden;
}

#sobre img{
    width: 75px;
    height: 150px;
    transition: 0.35s ease;
}

#sobre img:hover{
    opacity: 0%;
}

.espaco{
    width: 40px;
}

#img-bonita{
    width: 100%;
    height: 400px;
    background: url(imagens/img-bonita.png) no-repeat;
}

#navegar{
    background-color: #FFF;
    width: 100%;
    height: 70px;
}

#navegar ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    float: left;
}

#navegar ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto auto;
}

#navegar ul li a{
    line-height: 70px;
    font-size: 30px;
    text-decoration: none;
    color: #6D5143;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.35s ease;
}

#navegar ul li a:hover{
    color: #FFF;
    background: #6D5143;
    font-size: 37px;
}

#navegar ul li a:active{
    box-shadow: #333333 5px 5px 5px;
    transition: 0.2s;
    font-size: 40px;
}

#search{
    background-color: #6D5143;
    width: 100%;
    height: 70px;
    display: flex;
    margin: auto auto;
}

#search ul{
    width: 100%;
    display: flex;
    list-style-type: none;
}

#search ul li{
    margin: auto auto;
}

#search a{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    border-radius: 20px;
    transition: 0.35s ease;
}

#search a:hover{
    color: #6D5143;
    background-color: #FFF;
}

#search-bar{
    width: 810px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 15px 0 15px;
    font-size: 25px;
}

#search-btn{
    height: 55px;
    width: 168px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
    font-size: 30px;
    color: #6D5143;
    background-color: #FFF;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #000;
}

#search-btn:active{
    color: #FFF;
    background: #6D5143;
}

footer{
    background-color: #6D5143;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

#viagens{
    background: url(imagens/fundo.png) fixed;
}

#viagens ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#viagens ul li{
    margin: auto auto;
}

#viagens a{
    transition: 0.2s ease;
}

#viagens a img{
    transition: 0.25s ease;
}

#viagens a:hover img{
    transform: scale(1.03);
    border-radius: 20px 20px 9px 9px;
}

#viagens a:hover{
    font-size: 103%;
}

div{
    transition: 0.2s ease;
}

#viagens div:hover{
    margin-bottom: 5px;
    background-color: #c9c9c9;
    box-shadow: #333333 7.5px 7.5px 7.5px;
}

#viagens div:active{
    background-color: #a0a0a0;
    margin-bottom: 0px;
    box-shadow: #333333 3px 3px 3px;
}

.anuncio{
    display: inline-block;
    width: 400px;
    height: 340px;
    border: 5px #6D5143 solid;
    border-radius: 30px;
    padding: 15px;
    background-color: #EEE;
    margin: 18.8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: #333333 15px 15px 15px;
}

.anuncio .imagem-viagem{
    width: 400px;
    border-radius: 15px 15px 7.5px 7.5px;
}

.anuncio .nome{
    font-weight: 900;
    font-size: 1.7em;
    color: #000;
}

.anuncio .custo{
    font-weight: 550;
    font-size: 1.35em;
    color: #000;
}

.anuncio .p-noite{
    font-weight: 300;
    color: #000;
}

.anuncio .local{
    font-weight: 500;
    color: #474747;
    font-size: 1.15em;
}

.anuncio .nota{
    font-weight: 500;
    font-size: 1.3em;
    color: #000;
}

::-webkit-scrollbar{
    width: 7px;
    border: #241b17 solid 2px;
}

::-webkit-scrollbar-thumb{
    background-color: #523e33;
    border-radius: 50px;
}

::-webkit-scrollbar-track{
    background-color: #a77c67;
}